coreapi==2.3.3
Django==3.2.16
django_storages==1.13.2
djangorestframework==3.14.0
djangorestframework_jwt==1.11.0
djangorestframework_simplejwt==5.2.2
drf_yasg==1.21.4
environ==1.0
graphene==2.1.9
graphene_django==2.15.0
model_mommy==2.0.0
Password_Validation==0.1.1
redis==4.1.0
requests==2.26.0
rest_framework_simplejwt==0.0.1
django-ckeditor
django-environ
django-cors-headers
pre-commit
pipreqs
django-storages
boto3
python-dotenv
autopep8
psycopg2-binary
# awsebcli
# gunicorn
# azure-cli
# whitenoise
django_countries
django-autoslug
celery
django-log-request-id